<section class="about-us section" title="About Us" id="about">
  <div class="container">
    <h2 class="about-us__title">
      About
      <span class="about-us__title-span teachers_title-span">Us </span>
    </h2>
    <p class="about-us__description">
      We are dedicated to providing engaging and effective English language
      courses in a supportive and stimulating learning environment.
    </p>
    <div class="about-us__container">
      <div class="about-us__content">
        <ol class="about-us__list">
          <li class="about-us__item">
            <span class="about-us__number">01</span>
            <p class="about-us__text">Expert, innovative teaching staff</p>
          </li>
          <li class="about-us__item">
            <span class="about-us__number">02</span>
            <p class="about-us__text">
              Wide range of course levels and options
            </p>
          </li>
          <li class="about-us__item">
            <span class="about-us__number">03</span>
            <p class="about-us__text">Multicultural learning environment</p>
          </li>
          <li class="about-us__item">
            <span class="about-us__number">04</span>
            <p class="about-us__text">
              Comprehensive language support services
            </p>
          </li>
        </ol>
      </div>
      <div class="about-us__image-container">
        <div class="about-us__image">
          <img
            src="./img/about-us/memoji.png"
            srcset="
              ./img/about-us/memoji.png    1x,
              ./img/about-us/memoji@2x.png 2x
            "
            alt="Teacher's memoji">
        </div>
      </div>
    </div>
  </div>
</section>
