<section class="lessons-section" id="lessons">
  <div class="lessons-container">
    <h2 class="lessons-title">
      Our
      <span class="teachers_title-span">lessons</span>
    </h2>
    <p class="lessons-description">
      Our lessons are carefully structured and interactive, designed to promote
      rapid language acquisition through practical tasks and real-world
      scenarios
    </p>
  </div>
  <div class="lessons-cards">
    <div class="lesson-card">
      <h3 class="lesson-type">Practice</h3>
      <h4 class="lesson-price">40$ / month</h4>
      <p class="lesson-caption">
        This plan offers an opportunity for learners to engage in collaborative
        language exercises and group activities, boosting their conversational
        skills and confidence in using English.
      </p>
      <button class="primary-btn" type="button">Leave an application</button>
    </div>

    <div class="lesson-card">
      <h3 class="lesson-type">Standard</h3>
      <h4 class="lesson-price">70$ / month</h4>
      <p class="lesson-caption">
        Our standard package provides a balanced learning approach that covers
        all key areas of English language - reading, writing, listening, and
        speaking. It is a set of basic knowledge and skills.
      </p>
      <button class="primary-btn" type="button">Leave an application</button>
    </div>

    <div class="lesson-card">
      <h3 class="lesson-type">Individual</h3>
      <h4 class="lesson-price">99$ / month</h4>
      <p class="lesson-caption">
        We offer a tailored learning experience with individualized instruction
        that focuses on a learner's specific language goals and challenges,
        offering personal feedback.
      </p>
      <button class="primary-btn" type="button">Leave an application</button>
    </div>
  </div>
</section>
