<section class="teachers_section">
  <div class="teachers_container">
    <h2 class="teachers_title">
      Meet our
      <span class="teachers_title-span"
        >teachers
        <div class="teachers_title-underline"></div
      ></span>
    </h2>
    <p class="teachers_description">
      Discover our team of dedicated educators, committed to guiding you on your
      journey to English proficiency with personalized and engaging instruction
    </p>
    <ul class="teachers_list">
      <li class="teachers_item">
        <img
          class="teachers_img"
          src="./img/our-teachers/maria.jpg"
          srcset="
            ./img/our-teachers/maria.jpg    1x,
            ./img/our-teachers/maria@2x.jpg 2x
          "
          alp="Teacher Maria"
        />
        <h3 class="teachers_teacher-name">Maria</h3>
        <p class="teachers_teacher-description">
          A seasoned linguist and our primary specialist in beginner-level
          instruction, Maria brings warmth and patience to every class
        </p>
      </li>
      <li class="teachers_item">
        <img
          class="teachers_img"
          src="./img/our-teachers/artem.jpg"
          srcset="
            ./img/our-teachers/artem.jpg    1x,
            ./img/our-teachers/artem@2x.jpg 2x
          "
          alp="Teacher Artem"
        />
        <h3 class="teachers_teacher-name">Artem</h3>
        <p class="teachers_teacher-description">
          With his innovative teaching techniques and a focus on interactive
          learning, Artem excels in keeping students engaged and motivated
        </p>
      </li>
      <li class="teachers_item">
        <img
          class="teachers_img"
          src="./img/our-teachers/ilona.jpg"
          srcset="
            ./img/our-teachers/ilona.jpg    1x,
            ./img/our-teachers/ilona@2x.jpg 2x
          "
          alp="Teacher Ilona"
        />
        <h3 class="teachers_teacher-name">Ilona</h3>
        <p class="teachers_teacher-description">
          A specialist in advanced English, Ilona provides intensive
          instruction, ensuring students gain confidence in complex language
          tasks
        </p>
      </li>
      <li class="teachers_item">
        <img
          class="teachers_img"
          src="./img/our-teachers/volodymyr.jpg"
          srcset="
            ./img/our-teachers/volodymyr.jpg    1x,
            ./img/our-teachers/volodymyr@2x.jpg 2x
          "
          alp="Teacher Volodymyr"
        />
        <h3 class="teachers_teacher-name">Volodymyr</h3>
        <p class="teachers_teacher-description">
          Our expert in English for specific purposes, Volodymyr tailors his
          approach to meet individual career and industry-specific language
          needs
        </p>
      </li>
    </ul>
  </div>
</section>
