<section class="Proposal-to-leave-an-application" id="ptlaa">
  <h2 class="visually-hidden">English Application Section</h2>
  <div class="container">
    <h1 class="title">
      Master the <span class="title-word">Language</span> with Our English
      Package!
    </h1>
    <div class="inner-container1lock">
      <div class="inner-container1"></div>
    </div>
    <div class="inner-container2"></div>
    <div class="inner-container">
      <h2 class="title2">Power of English</h2>
      <ul class="list">
        <li class="list-item">
          <div class="social-link">
            <svg class="social-icon">
              <use href="./img/proposal/check.svg#check"></use>
            </svg>
          </div>
          Dive into captivating lessons designed to stimulate your curiosity.
        </li>
        <li class="list-item">
          <div class="social-link">
            <svg class="social-icon">
              <use href="./img/proposal/check.svg#check"></use>
            </svg>
          </div>
          Learn in a nurturing setting where every student's progress matters.
        </li>
        <li class="list-item">
          <div class="social-link">
            <svg class="social-icon">
              <use href="./img/proposal/check.svg#check"></use>
            </svg>
          </div>
          Experience the satisfaction of real progress as your language skills and
          confidence grow with every session.
        </li>
      </ul>
      <a href="#contact" class="button">Leave an application</a>
      <img class="img" src="./img/proposal/tall stack of books.jpg" srcset="./img/proposal/tall stack of books.jpg 1x, ./img/proposal/tall stack of booksx2.jpg 2x" alt="Learning English">
    </div>
  </div>
</section>