/* section css will be here */
.footer {
    font-size: 14px;
    font-style: normal;
    line-height: 1.29;
    padding: 64px 128px 23px 128px;
    background-color: #121417;
    margin: 0 auto;
}

.container {}

.footer-top {
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
    padding-bottom: 64px;
    justify-content: space-between;
}

.footer-top-left {
    
}

.footer-logo {
    color: #FFF;
    font-size: 20px;
    line-height: normal;

    margin-bottom: 32px;
}

.accent {
    color: #4DC274;
}

.footer-address {}

.footer-contacts {}

.footer-contacts-item {}
.footer-contacts-item:not(:last-child) {
    margin-bottom: 16px;
}

.footer-contacts-text {
    color: rgba(255, 255, 255, 0.60);
    font-style: normal;
    letter-spacing: -0.28px;
    margin-bottom: 4px;
}

.footer-contacts-link {
    font-style: normal;
    font-weight: 600;
}

.footer-top-middle {
}

.footer-nav {
   
}

.footer-nav-item {
    
}
.footer-nav-item:not(:last-child) {
    margin-bottom: 20px;
}

.footer-nav-link {
    font-style: normal;
    font-weight: 600;
}

.footer-top-right {
    margin-top: 8px;
}

.footer-socials {
    display: flex;
    gap: 12px;
    
}

.socials-item {
    display: flex;
    justify-content: center;
    border: 1px solid rgba(255, 255, 255, 0.10);
    border-radius: 10px;
    width: 40px;
    height: 40px;
}

/* .socials-link {
    /* display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none; 
} */

.socials-icon {
    width: 24px;
    height: 24px;
    fill: #FFF;
    transition: fill 0.3s;
}

.socials-item:hover {
    fill: #4dc274;
    border-color:rgba(77, 194, 116, 0.10);
}

.footer-bottom {
    color: rgba(255, 255, 255, 0.60);
    font-weight: 400;
    letter-spacing: -0.28px;

    padding-top: 23px;

    display: flex;
}

.footer-bottom-left {
    margin-right: auto;
}

.footer-bottom-right{
    display: flex;
    gap: 18px;
}

.footer-bottom-text {
}

.footer-bottom-link {
    text-align: right;
}