/* section css will be here */
html {
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
}

.hero-section {
    display: flex;
    justify-content: center;
    padding: 0 20px;
}

.hero-container {
    display: flex;
    position: relative;
    background:
        linear-gradient(357.37deg, rgba(0, 0, 0, 0.4) 39.23%, rgba(0, 0, 0, 0) 66.28%),
        url(../img/hero/hero-bg.jpeg) 75% 50% no-repeat;
    background-size: cover;
    border-radius: 30px;
    padding: 72px 20px;
    height: 709px;
    width: 335px;
    margin: 8px 0 80px;
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 564px;
}

.hero-h1 {
    font-size: 38px;
    font-weight: 700;
    line-height: 40px;
}

.hero-green-text {
    color: #BEE8CC;
}

.hero-button-apply {
    margin-top: 32px;
    text-align: center;
    padding: 14px 64px;
    background-color: #4DC274;
    border-radius: 12px;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
}

.hero-button-apply:hover {
    background-color: #38AE5F;
    -webkit-transition: background-color 100ms linear;
    -ms-transition: background-color 100ms linear;
    transition: background-color 100ms linear;
}

.hero-button-scroll {
    display: flex;
    height: 38px;
    width: 38px;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    bottom: 14px;
    right: 14px;
}

@media screen and (min-width: 768px) {
    .hero-section {
        padding: 0 32px;
    }
    .hero-container {
        background:
            linear-gradient(95.97deg, rgba(0, 0, 0, 0.4) 36.36%, rgba(0, 0, 0, 0) 51.43%),
            url(../img/hero/hero-bg.jpeg) 41% 50% no-repeat;
        background-size: cover;
        border-radius: 30px;
        padding: 32px;
        height: 857px;
        width: 704px;
        margin: 32px 0 100px;
    }
    
    .hero-content {
        width: 488px;
        justify-content: center;
    }
    
    .hero-h1 {
        font-size: 60px;
        font-weight: 700;
        line-height: 70px;
    }
    
    .hero-button-apply {
        width: fit-content;
        margin-top: 32px;
        padding: 16px 64px;
        border-radius: 12px;
        font-size: 18px;
        line-height: 28px;
    }
    
    .hero-button-scroll {
        height: 48px;
        width: 48px;
        bottom: 32px;
        right: 32px;
    }
}

@media screen and (min-width: 1280px) {
    .hero-section {
        padding: 0 20px;
    }

    .hero-container {
        border-radius: 30px;
        padding: 64px;
        height: 629px;
        width: 1152px;
        margin: 16px 0 96px;
    }
    
    .hero-content {
        width: 564px;
        justify-content: center;
    }
    
    .hero-h1 {
        font-size: 60px;
        font-weight: 700;
        line-height: 70px;
    }
    
    .hero-button-apply {
        margin-top: 32px;
        padding: 16px 64px;
        border-radius: 12px;
        font-size: 18px;
        line-height: 28px;
    }
    
    .hero-button-scroll {
        height: 48px;
        width: 48px;
        bottom: 32px;
        right: 32px;
    }
}